.list {
  padding: 0;

  li {
    list-style-type: none;
    padding: var(--space-md) 0;
    border-bottom: 2px solid var(--color-white-low);

    &:nth-last-child(1) {
      border-bottom: none;
    }

    .overlayLink {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
  z-index: 999;
  mix-blend-mode: difference;
}

.previewImage {
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}
