html,
body {
  overscroll-behavior: none;
}

body {
  background: var(--color-white);
  color: var(--color-black);
}

/* Important pour animations */
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
