html,
body {
  overscroll-behavior: none;
}

body {
  background: #0a0a0a;
  color: white;
}

/* Important pour animations */
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
