html {
  --font-primary: var(--font-manrope);
  --font-secondary: var(--font-montserrat);
  font-size: 62, 5%; /* 1rem = 10px*/
}

body {
  font-family: var(--font-primary), system-ui, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: var(--font-primary), system-ui, sans-serif;
}

p {
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-family: var(--font-secondary), system-ui, sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-tight);
  letter-spacing: -0.03em;
  margin-bottom: var(--space-md);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-tight);
  letter-spacing: -0.025em;
}

h3 {
  font-size: var(--font-size-h3);
  letter-spacing: -0.02em;
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

small {
  font-size: var(--font-size-small);
}
