html {
  --font-primary: var(--font-manrope);
  --font-secondary: var(--font-montserrat);
}

body {
  font-family: var(--font-primary), system-ui, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: var(--font-primary), system-ui, sans-serif;
}

p {
  line-height: 1.5;
  font-family: var(--font-secondary), system-ui, sans-serif;
}
