.hero {
  padding: 80px;
}

.title {
  font-size: 3rem;
  margin-bottom: 40px;
}

.char {
  display: inline-block;
}

.subtitle {
  color: lime;
}

.boxes {
  display: flex;
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;

  &.a {
    background-color: aquamarine;
  }

  &.b {
    background-color: coral;
  }

  &.c {
    background-color: cornflowerblue;
  }

  &.d {
    background-color: rgb(203, 117, 200);
  }

  &.e {
    background-color: rgb(234, 164, 51);
  }

  &.f {
    background-color: rgb(34, 209, 233);
  }
}

.circle {
  width: 100px;
  height: 100px;
  background-color: chartreuse;
}

.cards {
  display: flex;
  gap: 2rem;

  .card {
    width: 200px;
    height: 300px;
    border-radius: 24px;
    background-color: aliceblue;
    border: 1px solid #fefefe;
    align-items: center;
    text-align: center;
  }
}
