.hero {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;

  h1 span {
    color: var(--color-violet);
  }
}

.heroContent {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.badge {
  background-color: var(--color-yellow);
  padding: var(--space-xs) var(--space-md);
  color: var(--color-black);
  border-radius: var(--border-radius-lg);
}
