@use '../settings/breakpoints' as *;

@mixin respond($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$breakpoint} does not exist.";
  }
}
