.realisation {
  background-color: #02399f;
  padding-top: 43rem;
  padding-bottom: 43rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/realisation.svg');
    background-size: cover;
    background-position: center;
    mix-blend-mode: normal;
    z-index: -1;
  }
}

.realisationWrapper {
  position: relative;
  z-index: 1;
  width: 75vh;

  h2 {
    text-transform: uppercase;
    color: white;
    font:
      400 6rem / 1 Anton,
      sans-serif;
    text-align: center;
  }
}

.realisationGrid {
  width: 180rem;
  left: 50%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  transform: translate(-50%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
